[submodule "facebook-pixel"]
	path = facebook-pixel
	url = https://github.com/gtm-templates-simo-ahava/facebook-pixel.git
[submodule "google-tag-manager-monitor"]
	path = google-tag-manager-monitor
	url = https://github.com/gtm-templates-simo-ahava/google-tag-manager-monitor.git
[submodule "enhanced-ecommerce-object-builder"]
	path = enhanced-ecommerce-object-builder
	url = https://github.com/gtm-templates-simo-ahava/enhanced-ecommerce-object-builder.git
[submodule "url-2-0"]
	path = url-2-0
	url = https://github.com/gtm-templates-simo-ahava/url-2-0.git
[submodule "string-from-array-of-objects"]
	path = string-from-array-of-objects
	url = https://github.com/gtm-templates-simo-ahava/string-from-array-of-objects.git
[submodule "adform-tracking-point"]
	path = adform-tracking-point
	url = https://github.com/gtm-templates-simo-ahava/adform-tracking-point.git
[submodule "conductrics"]
	path = conductrics
	url = https://github.com/gtm-templates-simo-ahava/conductrics.git
[submodule "appnexus"]
	path = appnexus
	url = https://github.com/gtm-templates-simo-ahava/appnexus.git
[submodule "adservice"]
	path = adservice
	url = https://github.com/gtm-templates-simo-ahava/adservice.git
[submodule "userpilot"]
	path = userpilot
	url = https://github.com/gtm-templates-simo-ahava/userpilot.git
[submodule "adtraction"]
	path = adtraction
	url = https://github.com/gtm-templates-simo-ahava/adtraction.git
[submodule "qualaroo"]
	path = qualaroo
	url = https://github.com/gtm-templates-simo-ahava/qualaroo.git
[submodule "taboola"]
	path = taboola
	url = https://github.com/gtm-templates-simo-ahava/taboola.git
[submodule "user-distributor"]
	path = user-distributor
	url = ./user-distributor/
[submodule "persist-campaign-data"]
	path = persist-campaign-data
	url = https://github.com/gtm-templates-simo-ahava/persist-campaign-data.git
[submodule "ip-geolocation-api"]
	path = ip-geolocation-api
	url = git@github.com:gtm-templates-simo-ahava/ip-geolocation-api.git
[submodule "cdnjs-hosted-libraries"]
	path = cdnjs-hosted-libraries
	url = git@github.com:gtm-templates-simo-ahava/cdnjs-hosted-libraries.git
[submodule "youtube-iframe-api"]
	path = youtube-iframe-api
	url = https://github.com/gtm-templates-simo-ahava/youtube-iframe-api
[submodule "facebook-customer-chat"]
	path = facebook-customer-chat
	url = https://github.com/gtm-templates-simo-ahava/facebook-customer-chat.git
[submodule "snowplow-analytics-settings"]
	path = snowplow-analytics-settings
	url = https://github.com/gtm-templates-simo-ahava/snowplow-analytics-settings.git
[submodule "snowplow-analytics"]
	path = snowplow-analytics
	url = https://github.com/gtm-templates-simo-ahava/snowplow-analytics.git

[submodule "snowplow-gtm-custom-template"]
	path = snowplow-gtm-custom-template
	url = https://github.com/gtm-templates-simo-ahava/snowplow-gtm-custom-template.git

[submodule "snowplow-gtm-custom-template-settings"]
	path = snowplow-gtm-custom-template-settings
	url = https://github.com/gtm-templates-simo-ahava/snowplow-gtm-custom-template-settings.git
[submodule "facebook-pixel-server-side"]
	path = facebook-pixel-server-side
	url = https://github.com/gtm-templates-simo-ahava/facebook-pixel-server-side.git
[submodule "facebook-client"]
	path = facebook-client
	url = https://github.com/gtm-templates-simo-ahava/facebook-client.git
[submodule "facebook"]
	path = facebook
	url = https://github.com/gtm-templates-simo-ahava/facebook.git
[submodule "advanced-universal-analytics"]
	path = advanced-universal-analytics
	url = https://github.com/gtm-templates-simo-ahava/advanced-universal-analytics.git
[submodule "preflight-request"]
	path = preflight-request
	url = https://github.com/gtm-templates-simo-ahava/preflight-request.git
[submodule "consent-mode"]
	path = consent-mode
	url = https://github.com/gtm-templates-simo-ahava/consent-mode.git
[submodule "eec-products-ga4-items"]
	path = eec-products-ga4-items
	url = https://github.com/gtm-templates-simo-ahava/eec-products-ga4-items.git
[submodule "catch-all-client"]
	path = catch-all-client
	url = https://github.com/gtm-templates-simo-ahava/catch-all-client.git
[submodule "transaction-id-logger"]
	path = transaction-id-logger
	url = https://github.com/gtm-templates-simo-ahava/transaction-id-logger.git
[submodule "transaction-id-reader"]
	path = transaction-id-reader
	url = https://github.com/gtm-templates-simo-ahava/transaction-id-reader.git
[submodule "gtag-get-api"]
	path = gtag-get-api
	url = https://github.com/gtm-templates-simo-ahava/gtag-get-api.git
[submodule "core-web-vitals"]
	path = core-web-vitals
	url = https://github.com/gtm-templates-simo-ahava/core-web-vitals.git
[submodule "sha256-hasher"]
	path = sha256-hasher
	url = https://github.com/gtm-templates-simo-ahava/sha256-hasher.git
[submodule "ip-geolocation-api-server"]
	path = ip-geolocation-api-server
	url = https://github.com/gtm-templates-simo-ahava/ip-geolocation-api-server.git
[submodule "data-layer-picker"]
	path = data-layer-picker
	url = https://github.com/gtm-templates-simo-ahava/data-layer-picker.git
[submodule "server-container-monitor"]
	path = server-container-monitor
	url = https://github.com/gtm-templates-simo-ahava/server-container-monitor.git
[submodule "recaptcha-v3"]
	path = recaptcha-v3
	url = https://github.com/gtm-templates-simo-ahava/recaptcha-v3.git
[submodule "url-parser"]
	path = url-parser
	url = https://github.com/gtm-templates-simo-ahava/url-parser.git
[submodule "gtm-loader"]
	path = gtm-loader
	url = https://github.com/gtm-templates-simo-ahava/gtm-loader.git
[submodule "appcues"]
	path = appcues
	url = https://github.com/gtm-templates-simo-ahava/appcues
[submodule "edtech-impact"]
	path = edtech-impact
	url = https://github.com/gtm-templates-simo-ahava/edtech-impact
[submodule "response-headers"]
	path = response-headers
	url = https://github.com/gtm-templates-simo-ahava/response-headers
[submodule "cookie-monster"]
	path = cookie-monster
	url = git@github.com:gtm-templates-simo-ahava/cookie-monster.git
[submodule "facebook-fbp-generator"]
	path = facebook-fbp-generator
	url = git@github.com:gtm-templates-simo-ahava/facebook-fbp-generator.git
[submodule "facebook-fbc-generator"]
	path = facebook-fbc-generator
	url = git@github.com:gtm-templates-simo-ahava/facebook-fbc-generator.git
[submodule "ip-geolocation-api-server-variable"]
	path = ip-geolocation-api-server-variable
	url = git@github.com:gtm-templates-simo-ahava/ip-geolocation-api-server-variable.git
[submodule "piwik-pro-visitor-id-generator"]
	path = piwik-pro-visitor-id-generator
	url = https://github.com/sahava/piwik-pro-visitor-id-generator.git
