[submodule "facebook-pixel"]
	path = facebook-pixel
	url = https://github.com/gtm-templates-simo-ahava/facebook-pixel.git
[submodule "google-tag-manager-monitor"]
	path = google-tag-manager-monitor
	url = https://github.com/gtm-templates-simo-ahava/google-tag-manager-monitor.git
[submodule "enhanced-ecommerce-object-builder"]
	path = enhanced-ecommerce-object-builder
	url = https://github.com/gtm-templates-simo-ahava/enhanced-ecommerce-object-builder.git
[submodule "url-2-0"]
	path = url-2-0
	url = https://github.com/gtm-templates-simo-ahava/url-2-0.git
[submodule "string-from-array-of-objects"]
	path = string-from-array-of-objects
	url = https://github.com/gtm-templates-simo-ahava/string-from-array-of-objects.git
[submodule "adform-tracking-point"]
	path = adform-tracking-point
	url = https://github.com/gtm-templates-simo-ahava/adform-tracking-point.git
[submodule "conductrics"]
	path = conductrics
	url = https://github.com/gtm-templates-simo-ahava/conductrics.git
[submodule "appnexus"]
	path = appnexus
	url = https://github.com/gtm-templates-simo-ahava/appnexus.git
[submodule "adservice"]
	path = adservice
	url = https://github.com/gtm-templates-simo-ahava/adservice.git
[submodule "userpilot"]
	path = userpilot
	url = https://github.com/gtm-templates-simo-ahava/userpilot.git
[submodule "adtraction"]
	path = adtraction
	url = https://github.com/gtm-templates-simo-ahava/adtraction.git
[submodule "qualaroo"]
	path = qualaroo
	url = https://github.com/gtm-templates-simo-ahava/qualaroo.git
[submodule "taboola"]
	path = taboola
	url = https://github.com/gtm-templates-simo-ahava/taboola.git
[submodule "user-distributor"]
	path = user-distributor
	url = ./user-distributor/
[submodule "persist-campaign-data"]
	path = persist-campaign-data
	url = https://github.com/gtm-templates-simo-ahava/persist-campaign-data.git
[submodule "ip-geolocation-api"]
	path = ip-geolocation-api
	url = git@github.com:gtm-templates-simo-ahava/ip-geolocation-api.git
[submodule "cdnjs-hosted-libraries"]
	path = cdnjs-hosted-libraries
	url = git@github.com:gtm-templates-simo-ahava/cdnjs-hosted-libraries.git
[submodule "youtube-iframe-api"]
	path = youtube-iframe-api
	url = https://github.com/gtm-templates-simo-ahava/youtube-iframe-api
[submodule "facebook-customer-chat"]
	path = facebook-customer-chat
	url = https://github.com/gtm-templates-simo-ahava/facebook-customer-chat.git
[submodule "snowplow-analytics-settings"]
	path = snowplow-analytics-settings
	url = https://github.com/gtm-templates-simo-ahava/snowplow-analytics-settings.git
[submodule "snowplow-analytics"]
	path = snowplow-analytics
	url = https://github.com/gtm-templates-simo-ahava/snowplow-analytics.git

[submodule "snowplow-gtm-custom-template"]
	path = snowplow-gtm-custom-template
	url = https://github.com/gtm-templates-simo-ahava/snowplow-gtm-custom-template.git

[submodule "snowplow-gtm-custom-template-settings"]
	path = snowplow-gtm-custom-template-settings
	url = https://github.com/gtm-templates-simo-ahava/snowplow-gtm-custom-template-settings.git
[submodule "facebook-pixel-server-side"]
	path = facebook-pixel-server-side
	url = https://github.com/gtm-templates-simo-ahava/facebook-pixel-server-side.git
[submodule "facebook-client"]
	path = facebook-client
	url = https://github.com/gtm-templates-simo-ahava/facebook-client.git
[submodule "facebook"]
	path = facebook
	url = https://github.com/gtm-templates-simo-ahava/facebook.git
[submodule "advanced-universal-analytics"]
	path = advanced-universal-analytics
	url = https://github.com/gtm-templates-simo-ahava/advanced-universal-analytics.git
[submodule "preflight-request"]
	path = preflight-request
	url = https://github.com/gtm-templates-simo-ahava/preflight-request.git
[submodule "consent-mode"]
	path = consent-mode
	url = https://github.com/gtm-templates-simo-ahava/consent-mode.git
[submodule "eec-products-ga4-items"]
	path = eec-products-ga4-items
	url = https://github.com/gtm-templates-simo-ahava/eec-products-ga4-items.git
